  {% extends "layout.html" %}
  {% block title %}
  常见问题FAQ
  {% endblock  %}


 {% block content %}

{% include "title.html" %}
<div class="container" style="background-color:#f2f2f2">
    <div class="row">
        <div class="section-header">
            <h2 class="datatitle text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"> frequently asked question</h2>
            <hr class="line" style="width: 30%;">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 centered si slideUp">
            <i class="fa fa-arrow-down"></i>
            <h4 class="wow fadeInLeft animated">怎么收费？</h4>
            <p class="wow fadeInRight animated">快餐3000起/次,过夜9000起。商务伴游详谈</p>
        </div>
        <div class="col-lg-4 centered si slideUp">
            <i class="fa fa-arrow-down"></i>
            <h4 class="wow fadeInLeft animated">图片跟真人差很多怎么办？</h4>
            <p class="wow fadeInRight animated">每一个女生都经过严格把关，发生上述问题可能性很低，不喜欢可以直接退掉，不产生任何费用</p>
        </div>
        <div class="col-lg-4 centered si slideUp">
            <i class="fa fa-arrow-down"></i>
            <h4 class="wow fadeInLeft animated">提供地方吗？</h4>
            <p class="wow fadeInRight animated">一般均提供工作室，部分可以去女生家里</p>
        </div>
        <div class="col-lg-4 centered si slideUp">
            <i class="fa fa-arrow-down"></i>
            <h4 class="wow fadeInLeft animated">长期合作可否优惠？</h4>
            <p class="wow fadeInRight animated">有预存优惠方案，详情联系小高</p>
        </div>
        <div class="col-lg-4 centered si slideUp">
            <i class="fa fa-arrow-down"></i>
            <h4 class="wow fadeInLeft animated">只有东莞吗？</h4>
            <p class="wow fadeInRight animated">全国一线城市，知名2线城市均可安排</p>
        </div>
        <div class="col-lg-4 centered si slideUp">
            <i class="fa fa-arrow-down"></i>
            <h4 class="wow fadeInLeft animated">为什么看不到朋友圈或者把我删了</h4>
            <p class="wow fadeInRight animated">主动添加好友一个月以上，没交易没互动软件自动删除</p>
        </div>

    </div>
</div>
 {% endblock content %}

