<div id="footer">
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-bottom">
  <div class="container">
      
    <div class="d-flex w-100 justify-content-around w3-text-white">
        <div class="p-2 w3-xxlarge"><i class="fa fa-home"></i></div>
        <div class="p-2 w3-xxlarge"><i class="fa fa-bars"></i></div>
        <div class="p-2 w3-xxlarge"><i class="fa fa-arrow-right"></i></div>
    </div>
      </div>
</nav>
<script src="..{{url_for('static', filename='jquery.min.js')}}" ></script>
<script src="..{{url_for('static', filename='js/dropzone.js')}}" ></script>
<script src="..{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>

<script src="{{url_for('static', filename='js/my.js')}}" ></script>
<script src="{{url_for('static', filename='masonry.pkgd.min.js')}}" ></script>
<script src="..{{url_for('static', filename='js/main.js')}}" ></script>
<script src="..{{url_for('static', filename='js/fakeLoader.min.js')}}" ></script>
<script src="..{{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}" ></script>
<script src="..{{url_for('static', filename='js/anime.min.js')}}" ></script>
</div>
