<div id="footer">
    <div class="row">
        <div class="col-lg-4 centered si slideUp">
            <i class="fa fa-flask"></i>
            <h4>call us</h4>
            <p>132*******</p>
        </div>

    </div>
    <div class="media-container-row mbr-white">
        <div class="col-sm-12 copyright">
            <p class="mbr-text mbr-fonts-style display-7">
            © Copyright 2019 - All Rights Reserved
            </p>
        </div>
    </div>
<script src="..{{url_for('static', filename='jquery.min.js')}}" ></script>

<script src="..{{url_for('static', filename='js/dropzone.js')}}" ></script>
<script src="..{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>

<script src="{{url_for('static', filename='js/my.js')}}" ></script>
<script src="{{url_for('static', filename='masonry.pkgd.min.js')}}" ></script>
<script src="..{{url_for('static', filename='js/main.js')}}" ></script>
<script src="..{{url_for('static', filename='js/fakeLoader.min.js')}}" ></script>
<script src="..{{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}" ></script>
<script src="..{{url_for('static', filename='js/anime.min.js')}}" ></script>
</div>
