
<link rel="stylesheet" href="..{{url_for('static', filename='css/my.css')}}">
<style type="text/css">

#flapp .grid-item{
    border-color: rgba(255,255,255,0);
    border-style: solid;
    border-width: .2rem;
    width: 85%;
    box-sizing: border-box;
    margin: 5px auto
}80%
.grid-item h1{
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color:#2A3145;
      padding-top: .21333333rem;
    padding-bottom: .10666667rem;
}
.grid-item .spec{
  display:block;
  line-height:20px;
  height: 20px;
  border-radius: 20px;
  font-size:14px;
}
.grid-item .date{
    float:right;
    border:1px #990033 solid;
    color:#990033
}
.grid-item .post-text{
    padding: 24px 30px 5px 30px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.grid__link .grid__img {
    margin-bottom: 0px;
}
#headerwrap{
    background: url('static/images/bg.jpg');
    padding：80px 0 0 0;
    text-align: center;
}
#headerwrap h1,#headerwrap h4{
    color:#fff
}
#headerwrap h1{
    color: #ffffff;
    padding-top: 10px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}
.bg{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.panel-thumbnail{
border-radius:8px;
        box-shadow: 1px 4px 3px 0px #888;
}

p.spec {
    font-size: 1em;
    color: #939393;
    height: 21px;
    line-height: 22px;
    width: auto;
    margin-right: 10px;
    margin-bottom:0px
}

b.date {
    float: right;
    border-radius: 8px;
    background-color: #CC0033;
    padding: 0 1em;
    color: #fff;
    line-height: 17px;
}
.post_text h4{
    font-size:14px;
}
.panel-default {
    box-shadow: 2px 4px 4px #777;
    border-radius: 8px;
        padding: 12px 12px 0 12px;
    background-color: white;
    margin:0 0 36px 0;
}

.bgbox{
    width:100%;
    height: 400px;
    overflow:hidden;
    position: absolute;w3-pink
    z-index: 0;
}
 .vid-wrap{
    width:100%;background: #000;
    position:relative;
    padding-bottom:56.25%;    /*需要用padding来维持16:9比例,也就是9除以16*/
    height: 0;
}
.vid-wrap video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%

}
.img-responsive{
border-radius:8px;
margin-bottom:36px;
width: 100%;
}
#headerwrap{
padding-top:120px
}
.datatitle{
    margin-top: 100px;
    font-size: 48px;
    font-weight: 600;
    color: #555;
    line-height: 62px;
    text-transform: uppercase;
    margin-bottom:48px;
font-family: 'Rubik', sans-serif;
padding:0 25px;
}
#flapp .line{  
    background-color:#555;
    color: #555;
    align: center;
    height: 2px;
    margin: 8px auto;
    

}
.centered h4{
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    color: #333;
    margin:10px 0
}
.centered p {
line-height: 28px;
    margin-bottom: 25px;
}
.panel-body{
padding:30px 10px 20px 10px
}
.grid__link:hover{
opacity:0.8
}
</style>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a id="logo" class="navbar-brand" href="#">AGentCao<em>!</em></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">所有菜单</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/new">新鲜菜单</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/faq">常见问题</a>
      </li>
    </ul>
  </div>
</nav>
