  {% extends "layout.html" %}
  {% block title %}
  首页
  {% endblock  %}

  {% block content %}
  <div id="flapp">
      {% include "title.html" %}
      <link rel="stylesheet" type="text/css" href="..{{url_for('static', filename='css/grid.css')}}"> 

          <div class="container">
              <div class="row">
                  <div class="section-header">
                      <h2 class="datatitle text-center wow fadeInDown animated">Private Room Menu </h2>
                      <hr class="line w3-border-0" style="width: 60%;">
                  </div>
              </div>
              <div class="grid row" style="padding:0">
                  <div class="grid__sizer"></div>
                    {%- for comment in uers -%}

                         <div class="grid__item">
                          <a class="grid__link" href="/item/{{comment.Id}}">
                              <img class="grid__img wow fadeInLeft animated" data-wow-delay="0.8s" src="static/upload_file/{{comment.Thumbnail}}" alt="{{- comment.Name -}}/{{comment.Job}}/{{comment.Hometown}}" />
                          </a>
                  </div>
                  {%- endfor -%} 
              </div>
              <div class="grid row" style="padding:0">
                  <div class="grid__sizer"></div>
                  <div class="grid__item">
                  </div>
              </div>

          </div>
  </div>

  {%- endblock content %}

