{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
  {% extends "layout.html" %}

  {% block content %}
  <style type="text/css" media="all">

.mbr-overlay,.bgcorl,.formbox {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    top:0;
    left:0
}
.mbr-overlay{
background-image:url("..{{url_for('static', filename='images/bga.jpg')}} ");
z-index:1;
background-position:50% 50%;

}
.bgcorl{
z-index:2
}
.formbox{
z-index:3;
}
.formbox {
    top:120px;
}

.formbox .container{
width:80%;

} 

#flapp .row {
}
.w100 {
  width:100%
}
.box{
background-color:white;
 border-radius: 5px;


}
.boxhd,.boxbd{
padding:12px 20px
}

  </style>
  <div id="flapp">

      <div class="mbr-overlay bg" style="opacity: 0.7;"></div>
      <div class="bgcorl"></div>
      <div class="formbox">
          <div class="container box">
              <div class="row boxhd w3-pink">
                  <h1> <i class="fa fa-home "></i> LOGIN  {{ user_ip }}</h1>
              </div>
              <div class="row boxbd">
                  <form method="post" class='w-100'>
                  {{ form.csrf_token }}
                  {{ render_field(form.toNumber) }} 
                  <button class="btn col-xs-6  btn-secondary w100" id="sub" type="submit">点击发送验证码</button>
                  <input type="hidden" name="mId" id="mId" value="">
                  {{ render_field(form.smsCode) }}
                  {{ render_field(form.submit) }}
                  </form>

              </div>
          </div>
      </div>
</div>

{% endblock content  %}
