 {% extends "layout.html" %}

  {% block content %}
  <div id="flapp">
      {% include "title.html" %}
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                  <div class="section-header">
                      <h2 class="datatitle text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Private Room Menu </h2>
                      <hr class="line" style="width: 30%;">
                  </div>
              </div>
              <div class="row animatedParent">
                  {%- for comment in uers -%}
                  <div class="grid-item animated fadeInUp go">
                      <div class="grid-link panel panel-default">
                          <div class="panel-thumbnail">
                              <a class="grid__link" href="/item/{{comment.Id}}">
                                  <img class="grid__img img-responsive" src="static/upload_file/{{comment.Thumbnail}}" alt="Some image" />
                              </a>
                          </div>
                          <div class="panel-body post_text">
                              <h4><span>{{- comment.Name -}}</span>/<span>{{comment.Job}}</span>/<span>{{comment.Hometown}}</span></h4>
                              <p class="spec"> <b class="date w3-pink">{{-comment.Job -}}</b>  <span> {{- comment.Slgon -}} </span>  </p>
                          </div>
                      </div>
                  </div>
                  {%- endfor -%} 
              </div>
          </div>
  </div>
   {%- endblock content %}
