<style type="text/css">
#headerwrap{
background:url('https://mobirise.com/bootstrap-template/restaurant-template/assets/images/mbr-1620x1080.jpg') 50% 50%;
padding-right: 12px;
}
.mbr-overlay{
    bottom:0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    height:85%
}
#headerwrap h1, #headerwrap span,#headerwrap b,#headerwrap strong,#headerwrap h2{
text-align:right;
display:block;
color:white
}
#headerwrap h1{
line-height:90px
}
.mbr-section-btn .btn{
    border-width: 2px;
    font-style: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
        user-select: none;
    border: 1px solid transparent;
        padding: 16px 70px;
    font-size: 12px;
    color: white;
    margin: 8px 0 8px 40px;
    text-align: right;
    float: right;
    background-color:#ff3366;
    color:white
}
#flapp .grid {
    padding: 0 19px;
}
</style>
<div class="" id="headerwrap">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(7, 59, 76);"></div>
    <div class="container">
             <div class="row">
            <br>
            <br>
            <br>
            <div class="col-lg-6 col-lg-offset-3" style="padding-bottom:80px">
             <h1 class="wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <span style="font-size: 50px;line-height: 60px;">这里可能是</span>
                    <b style="font-size: 88px;">全东莞</b>
                    <strong style="font-size: 42px;line-height: 85px;">最多姑娘的地方</strong>
                </h1>
                <h2>Private Room Menu  </h2>
                <div class="mbr-section-btn wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <a class="btn btn-md btn-secondary display-4" href="{{ link }}">全部姑娘</a>
                    <a class="btn btn-md btn-secondary display-4" href="/faq">常见问题</a>
                </div>
            </div>
        </div>
    </div>
</div>

